<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng tin cho thuê</title>
    <link rel="stylesheet" href="/assets/css/UpPost.css">
    <!-- <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/dqzfuomvj/image/upload/v1730822662/4_jhd3xb.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c73425aee.js" async crossorigin="anonymous"></script> -->
</head>

<body ng-controller="UpdatePostController">
    <div class="container py-3">
        <h1 class="text-center mb-4">Sửa bài viết</h1>
        <div class="form-container mx-auto" style="z-index: -1;">

            <!-- Step 1: Thông tin bài đăng -->
            <section id="step-1" ng-show="currentStep === 1">
                <h2 class="text-center mb-4">Thông Tin Bài Đăng</h2>
                <form name="postForm">
                    <fieldset>
                        <label for="title" class="required">Tiêu Đề</label>
                        <input type="text" id="title" ng-model="post.parkingName" class="form-control mb-3"
                            placeholder="Nhập tiêu đề" required>
                            <label for="title" class="required">Mô tả</label>
                            <textarea id="description" ng-model="post.description" class="form-control mb-3"
                            placeholder="Nhập mô tả" required rows="4"></textarea>

                    </fieldset>

                    <div class="row-buttons">
                        <button type="button" class="btn btn-primary submit-btn" ng-click="nextStep(1)"
                            ng-disabled="!post.parkingName || !post.description">Tiếp theo</button>
                    </div>
                </form>
            </section>

            <!-- Step 2: Vị trí đăng tin -->
            <section id="step-2" ng-show="currentStep === 2">
                <h2 class="text-center mb-4">Vị Trí Đăng Tin</h2>
                <form>
                    <fieldset>
                        <label for="province" class="required">Tỉnh / Thành Phố</label>
                        <select id="province" class="form-select mb-3" ng-model="selectedProvince"
                            ng-options="province as province.Name for province in provinces"
                            ng-change="onProvinceChange()">
                            <option value="">Chọn Tỉnh/Thành Phố</option>
                        </select>
            
                        <label for="district" class="required">Quận / Huyện</label>
                        <select id="district" class="form-select mb-3" ng-model="selectedDistrict"
                            ng-options="district as district.Name for district in selectedProvince.Districts"
                            ng-change="onDistrictChange()" ng-disabled="!selectedProvince">
                            <option value="">Chọn Quận/Huyện</option>
                        </select>
            
                        <label for="ward" class="required">Phường / Xã</label>
                        <select id="ward" class="form-select mb-3" ng-model="selectedWard"
                            ng-options="ward as ward.Name for ward in selectedDistrict.Wards"
                            ng-disabled="!selectedDistrict">
                            <option value="">Chọn Phường/Xã</option>
                        </select>
            
                        <label for="street">Tên Đường</label>
                        <input type="text" id="street" ng-model="post.street" class="form-control mb-3"
                            placeholder="Nhập tên đường">
                    </fieldset>
            
                    <div class="row-buttons">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay Lại</button>
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary" ng-click="nextStep(2)"
                                ng-disabled="!selectedProvince || !selectedDistrict || !selectedWard">Tiếp theo</button>
                        </div>
                    </div>
                </form>
            </section>
            

            <!-- Step 3: Vị trí bản đồ -->
            <section class="section" id="step-3" ng-show="currentStep === 3">
                <h2 class="text-center">Vị trí bản đồ</h2>
                <div class="map-container m-3" id="map"></div>
                <p class="m-2">Hướng dẫn: tìm vị trí trên bản đồ và nhấn chọn vào trong bản đồ vị trí của bạn</p>
                <div class="row-buttons">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay lại</button>
                    </div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-primary submit-btn" ng-click="nextStep(3)">Tiếp
                            theo hoặc bỏ qua</button>
                    </div>
                </div>
            </section>

            <!-- Step 4: Diện tích và giá -->
            <section class="section" id="step-4" ng-show="currentStep === 4">
                <h2 class="text-center">Thông tin và Giá tiền</h2>
                <form>
                    <fieldset>
                        <label class="m-2" for="capacity">Sức chứa xe:</label>
                        <input type="number" id="capacity" ng-model="post.capacity" class="form-control"
                            placeholder="Nhập sức chứa">

                        <label class="m-2 required" for="price">Giá (VNĐ):</label>
                        <input type="number" id="price" ng-model="post.price" class="form-control"
                            placeholder="Nhập giá" required>

                            <label class="m-2 required" for="priceUnit">Đơn vị giá:</label>
                            <select id="priceUnit" ng-model="post.priceUnit" class="form-select" required>
                                <option value="VND/giờ">VND / giờ</option>
                                <option value="VND/ngày">VND / ngày</option>
                                <option value="VND/tháng">VND / tháng</option>
                                <option value="VND/năm">VND / Năm</option>
                            </select>                            

                        <div class="row-buttons mt-3">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay lại</button>
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary submit-btn" ng-click="nextStep(4)"
                                    ng-disabled="!post.price || !post.priceUnit">Tiếp theo</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </section>

            <!-- Step 5: Tiện ích -->
            <section class="section" id="step-5" ng-show="currentStep === 5">
                <h2 class="text-center mb-4">Tiện Ích</h2>

                <!-- Hiển thị các thẻ tiện ích đã chọn -->
                <div class="mb-3">
                    <h5>Các tiện ích đã chọn:</h5>
                    <div class="tag-container" id="tagContainer">
                        <div class="tag" ng-repeat="tag in tags">
                            {{tag}}
                            <span class="close" ng-click="removeTag(tag)">x</span>
                        </div>
                    </div>
                </div>

                <!-- Danh sách checkbox các tiện ích -->
                <div class="mb-3">
                    <h5>Chọn tiện ích:</h5>
                    <div class="row row-cols-2 row-cols-md-3 g-3">
                        <div class="col" ng-repeat="(key, label) in checkboxOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox-{{key}}"
                                    ng-model="post.amenities[key]" ng-change="toggleCheckbox(key, label)">
                                <label class="form-check-label" for="checkbox-{{key}}">{{label}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nhập tiện ích tùy chỉnh -->
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="manualInput" placeholder="Nhập tiện ích..."
                        ng-keydown="addTagOnEnter($event)">
                    <button class="btn btn-success" style="width:auto !important" type="button"
                        ng-click="addTag(manualInput)">Thêm</button>
                </div>

                <!-- Các nút điều hướng -->
                <div class="row mt-4">
                    <div class="col text-start">
                        <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay Lại</button>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-primary submit-btn" ng-click="nextStep(5)">Tiếp
                            tục</button>
                    </div>
                </div>
            </section>

            <!-- Section 6: chọn loại xe -->
            <section class="section" id="step-6" ng-show="currentStep === 6">
                <h2 class="text-center mb-4">Loại Xe</h2>

                <!-- Hiển thị các loại xe đã chọn -->
                <div class="mb-3">
                    <h5>Các loại xe đã chọn:</h5>
                    <div class="tag-container" id="vehicleTagContainer">
                        <div class="tag" ng-repeat="vehicle in vehicleTags">
                            {{vehicle}}
                            <span class="close" ng-click="removeVehicleTag(vehicle)">x</span>
                        </div>
                    </div>
                </div>

                <!-- Danh sách checkbox các loại xe -->
                <div class="mb-3">
                    <h5>Chọn loại xe:</h5>
                    <div class="row row-cols-2 row-cols-md-3 g-3">
                        <div class="col" ng-repeat="(key, label) in vehicleCheckboxOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="vehicle-checkbox-{{key}}"
                                    ng-model="post.vehicleTypes[key]" ng-change="toggleVehicleCheckbox(key, label)">
                                <label class="form-check-label" for="vehicle-checkbox-{{key}}">{{label}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nhập loại xe tùy chỉnh -->
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="manualVehicleInput" placeholder="Nhập loại xe..."
                        ng-keydown="addVehicleTagOnEnter($event)">
                    <button class="btn btn-success" style="width:auto !important" type="button"
                        ng-click="addVehicleTag(manualVehicleInput)">Thêm</button>
                </div>

                <!-- Các nút điều hướng -->
                <div class="row mt-4">
                    <div class="col text-start">
                        <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay Lại</button>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-primary submit-btn" ng-click="nextStep(6)">Tiếp
                            theo</button>
                    </div>
                </div>
            </section>

            <!-- Section 7: Upload ảnh -->
            <section class="section" id="step-7" ng-show="currentStep === 1">
                <h2 class="text-center">Hình ảnh</h2>
                <div class="image-upload">
                    <label for="file-input" class="text-center">
                        <div class="image-placeholder">
                            <span>+</span>
                            <p>Nhấp để đưa ảnh lên</p>
                        </div>
                    </label>
                    <input id="file-input" type="file" multiple
                        onchange="angular.element(this).scope().onFileSelect(this.files)" accept="image/*">
                </div>
                <p class="note">Lưu ý: Bạn cần ít nhất 1 ảnh (Tối đa 10 ảnh) để đăng tin</p>
            
                <div class="preview-images" ng-if="imageUrls.length > 0 || newImages.length > 0">
                    <h3>Ảnh đã tải lên:</h3>
                    <div class="row">
                        <div class="col-md-3" ng-repeat="image in imageUrls.concat(newImages)">
                            <img ng-src="{{image.preview || image}}" alt="Preview Image" class="img-thumbnail" />
                            <p>{{image.name || 'Ảnh cũ'}}</p>
                            <button type="button" class="btn btn-danger" ng-click="removeImage(image)">Xóa ảnh</button>
                        </div>
                    </div>
                </div>
                
                <div class="row-buttons">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-secondary" ng-click="prevStep()">Quay lại</button>
                    </div>
                    <div class="col-md-9">
                        <button 
                            type="button" 
                            class="btn btn-primary submit-btn" 
                            ng-click="submitPost()" 
                            ng-disabled="isLoading || (imageUrls.length + newImages.length) === 0 || (imageUrls.length + newImages.length) > 10 || isSubmitted">
                            <span ng-if="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Hoàn tất và đăng bài
                        </button>
                    </div>
                </div>
                
            </section>
            
        </div>
    </div>

    </div>
    <!-- <script src="/app/components/uppost/UpdatePostController.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaqWzB_IIAlUg3Iwp8yFfgjIIFhhMF0IQ&callback=initMap"
        async defer></script>
</body>

</html>