<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
</head>

<body ng-controller="ChangePasswordController">
    <h3 class="mb-3">Đổi mật khẩu</h3>
        <form name="changePasswordForm" ng-class="{'fade-in': !loading}" ng-submit="changePassword()" novalidate>
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Mật khẩu cũ</label>
                <div class="input-group">
                    <input type="{{oldPasswordFieldType}}" class="form-control rounded-start" id="oldPassword"
                        ng-model="oldPassword">
                    <button class="btn rounded-end" style="cursor: pointer;"
                        ng-click="togglePasswordVisibility('oldPassword')">
                        <i class="fa" ng-class="oldPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            style="color: #000000;"></i>
                    </button>
                </div>
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <div class="input-group">
                    <input type="{{newPasswordFieldType}}" class="form-control rounded-start" id="newPassword"
                        ng-model="newPassword" required>
                    <button class="btn rounded-end" style="cursor: pointer;"
                        ng-click="togglePasswordVisibility('newPassword')">
                        <i class="fa" ng-class="newPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            style="color: #000000;"></i>
                    </button>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirm" class="form-label">Nhập lại mật khẩu</label>
                <div class="input-group">
                    <input type="{{confirmPasswordFieldType}}" class="form-control rounded-start" id="confirm"
                        ng-model="confirm" required>
                    <button class="btn rounded-end" style="cursor: pointer;"
                        ng-click="togglePasswordVisibility('confirm')">
                        <i class="fa" ng-class="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            style="color: #000000;"></i>
                    </button>
                </div>
            </div>


            <div class="mb-3">
                <span style="color: red;">{{message}}</span>
            </div>
            <div class="justify-content-center d-flex">
                <button class="btn btn-primary">Xác nhận</button>
            </div>
        </form>
</body>

</html>