
.nav-link {
    color: black; /* Default text color */
    padding: 10px; /* Ensure enough padding for the border */
    border: 0 solid transparent;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: white; /* Text color on hover */
    background-color: blue;
    border-radius: 10px;
}


/* Card số lượng  */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.card-text {
    font-size: 1.25rem;
    font-weight: bold;
}
.filter-group, .districts-list {
    margin-bottom: 1rem;
}
.btn-primary-custom {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
.btn-primary-custom:hover {
    background-color: #0056b3;
    border-color: #004080;
}
.btn-submit {
    background-color: #00aaff;
    border-color: #00aaff;
    color: white;
}
.btn-submit:hover {
    background-color: #0088cc;
    border-color: #006699;
}
@media (max-width: 767px) {
    .districts-list {
        display: none;
    }
}

/* button đăng tin */
.btn-primary-custom {
    border: 2px solid #007bff;
    background-color: white;
    color: #007bff !important;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.btn-primary-custom:hover {
    background-color: #007bff;
    color: whitesmoke !important;

}

