@media (max-width: 767px) {
    .districts-list {
        display: none;
    }
}


.img-fluid {
    width: auto;
    height: 230px;
    object-fit: cover;
}



.promoted-label {
    position: absolute;
    top: 65px;
    right:10px;
    color: #333; /* Dark text for readability */
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    font-size: 0.9rem; /* Slightly larger font size */
    z-index: 1; /* Ensure it stays on top */
}

.promoted-label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 25px;
    background-image: repeating-linear-gradient(130deg, 
        rgba(251, 213, 251, 1), 
        rgba(149, 233, 243, 1),
        rgba(251, 213, 251, 1),
        rgba(149, 233, 243, 1)
    );
    z-index: -1;
    animation: shimmer 7s linear infinite;
    background-size: 300%;
}

/* Keyframes for the shimmering effect */
@keyframes shimmer {
    0% {
        background-position: 100% 50%; /* Start from the right */
    }
    100% {
        background-position: 0% 50%; /* End at the left */
    }
}