/* Kiểu cho ảnh nền blur */
.blur-background img {
    filter: blur(20px); /* Tạo hiệu ứng blur */
    transform: scale(1.1); /* Tăng kích thước một chút để tránh viền bị mờ */
    z-index: -1; /* Đảm bảo ảnh này nằm sau ảnh chính */
    opacity: 0.7; /* Giảm độ rõ của ảnh nền để nổi bật ảnh chính */
}

/* Kiểu cho carousel */
.carousel-inner {
    position: relative;
    height: 400px; /* Chiều cao cố định cho vùng carousel */
    display: flex;

    align-items: center;
}

/* Kiểu cho ảnh chính */
.carousel-item img {
    height: 400px; /* Chiều cao cố định cho ảnh chính */
    width: auto; /* Để chiều rộng tự động điều chỉnh */
    object-fit: cover; /* Cắt ảnh để nó phù hợp với chiều cao mà không bị biến dạng */
    z-index: 1; /* Đảm bảo ảnh chính hiển thị phía trước */
    position: relative;
}


/* Chống ảnh blur bị tràn viền */
.blur-background {
    overflow: hidden;
    z-index: -1;
}

.side-bar{
    position: sticky;
    top: 20px;
}


.profile-card {
    top: 20px; /* Khoảng cách từ phía trên khi dừng lại */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    background-color: whitesmoke;
}

.phone-btn {
    color: #007bff; /* Màu mặc định của button */
    transition: color 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
}

.phone-btn:hover {
    color: #ff6347; /* Đổi màu khi hover vào button, ví dụ là màu cam */
}

/* Maps */
.h-100 {
    height: 100%;
}

.map-container {
    height: 100%;
}

.map-iframe {
    width: 100%;
    height: 100%;
}
