<!DOCTYPE html>
<html lang="vi">

<head>
    <link rel="stylesheet" href="/assets/css/Post.css">

</head>

<body ng-controller="ParkingController" class="d-flex flex-column min-vh-100">
    <!-- Search and Filter Section -->
    <div class="container mt-4 mb-4 flex-fill">
        <div class="row">
            <div class="col-md-9">
                <form class="d-flex mb-3" role="search" ng-submit="searchPosts()">
                    <input class="form-control me-2" type="search" ng-model="searchTerm"
                        placeholder="Tìm kiếm theo nội dung đăng, quận,..." aria-label="Search">
                    <button class="btn btn-outline-success flex-shrink-0" type="submit">Tìm kiếm</button>
                </form>

                <div class="filter-group d-flex mb-4">
                    <select id="district" class="form-select me-2" ng-model="selectedDistrict"
                        ng-options="district as district.Name for district in districts" ng-change="onDistrictChange()">
                        <option value="">Chọn quận/huyện</option>
                    </select>

                    <select class="form-select me-2" ng-model="selectedVehicleType" ng-change="onVehicleTypeChange()">
                        <option value="">Dành cho xe</option>
                        <option value="Xe oto">Xe oto</option>
                        <option value="Xe điện">Xe oto điện</option>
                        <option value="Xe tải">Xe tải</option>
                        <option value="Xe du lịch">Xe du lịch</option>
                    </select>

                    <select class="form-select" ng-model="sortPrice" ng-change="onSortChange()">
                        <option value="">Sắp xếp theo giá</option>
                        <option value="asc">Giá tăng dần</option>
                        <option value="desc">Giá giảm dần</option>
                    </select>
                </div>

                <!-- Shimmer Effect for Loading -->
                <div ng-if="loading" class="text-center">
                    <div class="card mb-3 post-item">

                        <div class="shimmer-wrapper" style="height: auto;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div class="shimmer-block m-2"
                                        style="width: 100%; height: 250px; background: #e0e0e0;"></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-title mb-0">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="shimmer-block" style="height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                        <div class="card-body flex-grow-1">
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 50%; height: 30px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                        </div>
                                        <div
                                            class="card-footer d-flex justify-content-between mt-auto bg-transparent border-0">
                                            <div class="shimmer-block"
                                                style="width: 100%; height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 post-item">
                        <div class="shimmer-wrapper" style="height: auto;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div class="shimmer-block m-2"
                                        style="width: 100%; height: 250px; background: #e0e0e0;"></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-title mb-0">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="shimmer-block" style="height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                        <div class="card-body flex-grow-1">
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 50%; height: 30px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                        </div>
                                        <div
                                            class="card-footer d-flex justify-content-between mt-auto bg-transparent border-0">
                                            <div class="shimmer-block"
                                                style="width: 100%; height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 post-item">
                        <div class="shimmer-wrapper" style="height: auto;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div class="shimmer-block m-2"
                                        style="width: 100%; height: 250px; background: #e0e0e0;"></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-title mb-0">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="shimmer-block" style="height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                        <div class="card-body flex-grow-1">
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 50%; height: 30px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                        </div>
                                        <div
                                            class="card-footer d-flex justify-content-between mt-auto bg-transparent border-0">
                                            <div class="shimmer-block"
                                                style="width: 100%; height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 post-item">
                        <div class="shimmer-wrapper" style="height: auto;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div class="shimmer-block m-2"
                                        style="width: 100%; height: 250px; background: #e0e0e0;"></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-title mb-0">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="shimmer-block" style="height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                        <div class="card-body flex-grow-1">
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 50%; height: 30px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                        </div>
                                        <div
                                            class="card-footer d-flex justify-content-between mt-auto bg-transparent border-0">
                                            <div class="shimmer-block"
                                                style="width: 100%; height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 post-item">
                        <div class="shimmer-wrapper" style="height: auto;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div class="shimmer-block m-2"
                                        style="width: 100%; height: 250px; background: #e0e0e0;"></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-title mb-0">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="shimmer-block" style="height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                        <div class="card-body flex-grow-1">
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 50%; height: 30px; background: #e0e0e0;"></div>
                                            <div class="shimmer-block mt-2"
                                                style="width: 90%; height: 20px; background: #e0e0e0;"></div>
                                        </div>
                                        <div
                                            class="card-footer d-flex justify-content-between mt-auto bg-transparent border-0">
                                            <div class="shimmer-block"
                                                style="width: 100%; height: 50px; background: #e0e0e0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="height: 50vh;"
                    ng-if="notFoundMessage">
                    <h1>{{ notFoundMessage }}</h1>
                </div>
                <!-- Listings -->
                <div class="card mb-3 post-item" ng-repeat="post in posts" ng-if="!notFoundMessage && !loading">
                    <a href="/post-detail?id={{post.postId}}" style="text-decoration: none; color: inherit;">
                        <div class="row g-0">

                            <div class="col-md-4">

                                <div class="d-flex align-items-center justify-content-center"
                                    style="height: 100%; background: #f8f9fa; position: relative;">

                                    <img ng-src="{{post.images[0].imageUrl}}" loading="lazy"
                                        class="img-fluid rounded-start" alt="Images" />
                                </div>
                            </div>
                            <div class="col-md-8 d-flex flex-column">
                                <div class="card h-100 d-flex flex-column">
                                    <div class="card-header bg-transparent border-0">
                                        <h4 class="font-weight-bold">{{post.parkingName}}</h4>

                                    </div>
                                    <div class="card-body flex-grow-1">
                                        <h7 class="card-text district d-flex mb-2">
                                            {{post.street}} {{post.wardName}}, {{post.districtName}},
                                            {{post.provinceName}}
                                        </h7>
                                        <h4 class="card-text text-danger">
                                            {{formatCurrency(post.price) + " " + post.priceUnit}}
                                        </h4>
                                        <span ng-repeat="vehicleType in post.vehicleTypes" class="vehicle-type-inline">
                                            {{vehicleType.vehicleTypesName}}
                                            <span ng-if="!$last"> - </span>
                                        </span>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between mt-auto">
                                        <p class="card-text username font-weight-bold mb-0">
                                            Đăng bởi: {{post.user.firstName}} {{post.user.lastName}}
                                            <small class="text-muted">{{formatTimeAgo(post.createdAt)}}</small>
                                        </p>
                                        <p class="card-text text-muted mb-0">
                                            <i class="fa-regular fa-comment"></i> {{post.commentCount}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <!-- Pagination Controls -->
                <div class="d-flex justify-content-between align-items-center" ng-if="!loading && !notFoundMessage">
                    <button class="btn btn-primary" ng-click="previousPage()"
                        ng-disabled="currentPage === 0">Trước</button>
                    <span>Trang {{ currentPage + 1 }} trên tổng {{ totalPagesCount }} trang</span>
                    <button class="btn btn-primary" ng-click="nextPage()"
                        ng-disabled="currentPage >= totalPagesCount - 1">Sau</button>
                </div>

            </div>
            <!-- Districts List -->
            <div class="col-md-3">
                <div class="card districts-list">
                    <div class="card-body">
                        <h5 class="card-title">Số lượng bãi giữ xe tại các khu vực</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" ng-repeat="(district, count) in districtPostCounts">
                                {{district}}: {{count}} bài đăng
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>